<section class="py-5 position-relative">
  <span class="anchor" id="about"></span>
  <div class="container">
    {% include heading.html title="About" %}
    <div class="row">
      <div class="col-12 content about">
        <p>While the open-source model for software development has led to successful, large-scale collaborations in building software applications, chess engines, and scientific analyses, data science has not benefited from this development paradigm. In part, this is due to the divide between the development processes used by software engineers and those used by data scientists.</p>
        <p>Ballet tries to address this disparity. It is a lightweight software framework that supports collaborative data science development by composing a data science pipeline from a collection of modular patches that can be written in parallel. Ballet provides the underlying functionality to support interactive development, test and merge high-quality contributions, and compose the accepted contributions into a single product.</p>
        <p>We have deployed Ballet for feature engineering collaborations on tabular survey datasets of public interest. For example, ballet-predict-census-income is a large real-world collaborative project to engineer features from raw individual survey responses to the U.S. Census American Community Survey (ACS) and predict personal income. The resulting project is one of the largest data science collaborations GitHub, and outperforms state-of-the-art tabular AutoML systems and independent data science experts.</p>
        <p>Interested in using Ballet for your own project? <a href="#contact">Get in touch!</a></p>
      </div>
    </div>
  </div>
</section>