<section class="bg-light hero overflow-hidden" id="top">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <img src="/images/Banner.svg" width="712" alt="Ballet banner" class="mx-auto d-block hero-image img-fluid">
        <div class="mt-n3 mt-lg-n5 text-center text-dark">
          <img src="/images/Ballet-Text.svg" width="200" alt="Ballet" class="mx-auto mt-4 mb-4 d-block img-fluid">
          <p class="h3 font-weight-semibold">A lightweight framework</p>
          <p class="h4 font-weight-light">for collaborative, open-source data science</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center pt-4">
      <div class="col-lg-6 text-center mt-3">
        <p class="font-weight-light font-italic mt-5">A project from the <a href="https://dai.lids.mit.edu/" target="_blank" rel="noopener">Data to AI Lab at MIT</a></p>
      </div>
    </div>
  </div>
</section>
