.paper {
  border: 2px solid $warning
}

.team {
  width: 130px;
  border: 2px solid $warning
}

.team-item {
  width: 14rem;
}

.learn-more {
  height: 120px; 
  font-size: 20px; 
  line-height: 1.3;
}